#!/usr/bin/make -f
# SPDX-License-Identifier: GPL-2.0-only
# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@ --with dkms

override_dh_install:
	sed "s/@VERSION@/$(DEB_VERSION_UPSTREAM)/g" \
		debian/iris-vpu-dkms.install.in > debian/iris-vpu-dkms.install
	dh_install

override_dh_clean:
	rm -f debian/iris-vpu-dkms.install
	dh_clean

override_dh_auto_clean:
	# Skip auto clean for DKMS package

override_dh_auto_build:
	# Skip auto build for DKMS package

override_dh_auto_test:
	# Skip auto test for DKMS package

override_dh_auto_install:
	# Skip auto install for DKMS package